body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

header {
    text-align: center;
    padding: 20px;
    background-color: #333;
    color: white;
}

h1 {
    margin: 0;
    font-size: 36px;
}

h2 {
    font-size: 28px;
}

.tournament-info {
    margin: 20px;
}

.group {
    display: flex;
    justify-content: space-around;
    margin-bottom: 20px;
}

.player-card {
    border: 1px solid #ccc;
    padding: 10px;
    margin: 10px;
    display: inline-block;
    width: 200px;
    text-align: center;
}

.group {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.leaderboard table {
    width: 100%;
    margin: 20px 0;
    border-collapse: collapse;
}

.leaderboard td, .leaderboard th {
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

/* Stilovi za zlatni, srebrni, braon i svetlobraon okvir */
.player-card.gold {
    border: 3px solid gold;
}

.player-card.silver {
    border: 3px solid silver;
}

.player-card.bronze {
    border: 3px solid brown;
}

.player-card.light-brown {
    border: 3px solid #D2B48C; /* Svetlobraon boja */
}

